<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.sportscafe.scgame">

    <!-- To access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To get the status of internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Start MoEngage Permissions-->
    <!-- If you have specified applicationId in build.gradle file then replace [YOUR_PACKAGE_NAME] with applicationId-->
    <permission
        android:name="in.sportscafe.scgame.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.sportscafe.scgame.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- End MoEngage Permissions -->

    <application
        android:name=".ScGame"
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.test.TestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".module.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="nostragamus" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- AppLink config -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <data android:scheme="https" android:host="bnc.lt" android:pathPrefix="/your_app_id_obtained form Branch dash board " /> -->
                <data android:scheme="https" android:host="outx.test-app.link" />
            </intent-filter>

        </activity>

        <activity
            android:name=".module.getstart.GetStartActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".module.home.HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".module.user.login.LogInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.common.Settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.common.WebViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.feed.FeedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.myprofile.edit.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".module.user.sportselection.SportSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.powerups.PowerUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.badges.BadgeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.leaderboardsummary.LeaderBoardSummaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.play.prediction.PredictionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.play.prediction.AllDoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.play.myresults.MyResultsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".module.play.myresultstimeline.MyResultsTimelineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".module.user.points.PointsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.group.newgroup.NewGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".module.user.group.allgroups.AllGroupsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.group.admin.adminmembers.AdminMembersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.group.groupinfo.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".module.user.group.editgroupinfo.EditGroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".module.user.group.members.MembersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.user.group.joingroup.JoinGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:parentActivityName=".module.user.group.groupinfo.GroupInfoActivity">
        </activity>

        <activity
            android:name=".module.permission.PermissionsActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Start Fabric -->
        <!-- Api key which is mandatory to uniquely identify our app -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="66dc8b5ddc3cab78b5935c8254c264658064977d" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="66dc8b5ddc3cab78b5935c8254c264658064977d" />

        <!-- End Fabric -->

        <!-- Start MoEngage -->
        <activity
            android:name="com.moengage.addon.inbox.MoEInboxActivity"
            android:label="Notification"
            android:parentActivityName=".module.home.HomeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.home.HomeActivity" />

        </activity>

        <!-- MOENGAGE RECEIVER FOR RECEIVING APP UPDATE INTENT -->
        <receiver android:name="com.moe.pushlibrary.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="in.sportscafe.scgame"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- The underlying content provider -->
        <provider
            android:name="com.moe.pushlibrary.providers.MoEProvider"
            android:authorities="in.sportscafe.scgame.moengage.provider"
            android:exported="false" />

        <!-- MANDATORY FIELD: APP ID AS SEEN ON MOENGAGE DASHBOARD APP SETTINGS PAGE -->
        <meta-data
            android:name="APP_ID"
            android:value="V0DAIR1IY0NI6RQH190Z5KOH" />

        <!-- MANDATORY FIELD: SENDER ID , i.e. THE PROJECT NUMBER AS MENTIONED ON GOOGLE CLOUD CONSOLE PROJECTS PAGE -->
        <meta-data
            android:name="SENDER_ID"
            android:value="id:576361348926" />

        <!-- MANDATORY FIELD: THE NOTIFICATION SMALL ICON WHICH WILL BE USED TO SET TO NOTIFICATIONS POSTED -->
        <meta-data
            android:name="NOTIFICATION_ICON"
            android:value="@drawable/notification_large_icon" />

        <!-- MANDATORY FIELD: THE NOTIFICATION LARGE ICON WHICH WILL BE USED TO SET TO NOTIFICATIONS POSTED -->
        <meta-data
            android:name="NOTIFICATION_LARGE_ICON"
            android:value="@drawable/notification_large_icon" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.sportscafe.scgame" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.moengage.worker.MoEGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>
        <service
            android:name="com.moengage.receiver.MoEInstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- OPTIONAL FIELD: THE NOTIFICATION TYPE WHICH WILL BE USED, SINGLE OR MULTIPLE. DEFAULT BEHAVIOR IS SINGLE -->
        <meta-data
            android:name="NOTIFICATION_TYPE"
            android:value="@integer/notification_type_multiple" />

        <!-- OPTIONAL FIELD: THE NOTIFICATION TONE THAT WILL BE USED. IF NOT SET WILL PLAY THE DEFAULT SOUND -->
        <!--
            <meta-data
            android:name="NOTIFICATION_TONE"
            android:value="@raw/tring" />
        -->
        <!-- End MoEngage -->

        <!-- Start Google Analytics -->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- End Google Analytics -->

        <!-- Start Branch -->

        <!-- Enable/Disable the test mode -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true" />

        <!-- Live branch key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_eoqby1Qi8GeRDkGLb4tRqemjEDajI3q5" />

        <!-- Test branch key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_pfyhy6Sp0ViSymPQiXMmEonmuFpcM4Sn" />
        <!-- End Branch -->

        <!-- To receive the install updates -->
        <receiver android:name=".module.common.CustomInstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>