<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.sportscafe.nostragamus">

    <!-- To access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To get the status of internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Start MoEngage Permissions -->
    <!-- If you have specified applicationId in build.gradle file then replace [YOUR_PACKAGE_NAME] with applicationId -->
    <permission
        android:name="in.sportscafe.nostragamus${buildTypeSuffix}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.sportscafe.nostragamus${buildTypeSuffix}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Used for Samsung Store -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <!-- End MoEngage Permissions -->
    <application
        android:name=".Nostragamus"
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".module.test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.submitquestion.tourlist.TourListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.help.dummygame.DummyGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.paytmAndBank.WalletOrBankConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.paytmAndBank.AddPaytmDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.navigation.wallet.paytmAndBank.AddBankDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".module.popups.walletpopups.WalletBalancePopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"/>
        <!--
            <activity
            android:name=".module.navigation.submitquestion.matchlist.MatchListFragment"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".module.navigation.submitquestion.add.AddQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".module.navigation.referfriends.SuccessfulReferralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.othersanswers.OthersAnswersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".module.addphoto.AddPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".module.splash.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="nostragamus" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- AppLink config -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <data android:scheme="https" android:host="bnc.lt" android:pathPrefix="/your_app_id_obtained form Branch dash board " /> -->
                <data
                    android:host="sportscafe.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.feed.FeedWebView"
            android:screenOrientation="portrait" />
        <activity android:name=".module.common.NostragamusWebView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:scheme="myscheme" /> -->
            <!-- <data android:scheme="https" /> -->
            <!-- <data android:scheme="http" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".module.getstart.GetStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.popups.PopUpActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".module.popups.inapppopups.InAppPopupActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".module.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".module.user.playerprofile.PlayerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.myprofile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.comparisons.PlayerComparisonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.common.TermsConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.referral.ReferralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.login.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.settings.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.common.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.feed.FeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.myprofile.edit.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.navigation.edituserprofile.EditUserProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
            <activity
            android:name=".module.user.sportselection.SportSelectionActivity"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".module.play.prediction.PredictionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.play.prediction.AllDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.play.myresults.MyResultsActivity"
            android:parentActivityName=".module.newChallenges.ui.NewChallengesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.newChallenges.ui.NewChallengesActivity" />
        </activity>
        <activity
            android:name=".module.resultspeek.ResultsPeekActivity"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name=".module.play.myresults.flipPowerup.FlipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        -->
        <activity
            android:name=".module.user.points.PointsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.appupdate.AppUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.group.newgroup.NewGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".module.user.group.groupinfo.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".module.user.group.editgroupinfo.EditGroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".module.user.group.joingroup.JoinGroupActivity"
            android:parentActivityName=".module.user.group.groupinfo.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="groupCode" />
        </activity>
        <activity
            android:name=".module.permission.PermissionsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".module.feedback.GoogleFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".module.navigation.wallet.paytmAndBank.TestPaytmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabMainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.navigation.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.settings.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.help.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.WalletHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.addMoney.AddWalletMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.navigation.wallet.withdrawMoney.WithdrawWalletMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.navigation.wallet.walletHistory.WalletHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.payoutDetails.PayoutWalletHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.payoutDetails.WithdrawPayoutChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.wallet.addMoney.lowBalance.AddMoneyOnLowBalanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.navigation.referfriends.ReferFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.referfriends.referralcredits.ReferralCreditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.powerupbank.PowerUpBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.powerupbank.powerupbanktransaction.PBTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.prediction.powerupBank.PowerupBankTransferToPlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransferPowerupTheme" />
        <activity
            android:name=".module.prediction.gamePlayHelp.GamePlayHelpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransferPowerupTheme" />
        <activity
            android:name=".module.user.myprofile.verify.VerifyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.store.StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.navigation.powerupbank.earnmorepowerups.EarnMorePowerUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.group.GroupActivity"
            
            android:screenOrientation="portrait"
            android:theme="@style/homeActivityTransitionStyle" />
        <activity
            android:name=".module.popups.challengepopups.ContestDetailsPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".module.nostraHome.NostraHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.newChallenges.ui.matches.NewChallengesMatchActivity"
            
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.contest.contestDetailsBeforeJoining.ContestDetailsBeforeJoinedActivity"
            
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.contest.ui.ContestsActivity"
            
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.contest.contestDetailsAfterJoining.ContestDetailsAfterJoinActivity"
            
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.prediction.playScreen.PredictionActivity"
            
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Start MoEngage -->
        <activity
            android:name="com.moengage.addon.inbox.MoEInboxActivity"
            android:label="Notification"
            android:parentActivityName="in.sportscafe.nostragamus${buildTypeSuffix}.module.home.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.sportscafe.nostragamus${buildTypeSuffix}.module.home.HomeActivity" />
        </activity>

        <!-- MOENGAGE RECEIVER FOR RECEIVING APP UPDATE INTENT -->
        <receiver android:name="com.moe.pushlibrary.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="in.sportscafe.nostragamus${buildTypeSuffix}"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.moengage.pushbase.activities.PushTracker"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <meta-data
                android:name="showInApp"
                android:value="false" />
        </activity>
        <activity
            android:name="com.moengage.pushbase.activities.SnoozeTracker"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=":NotificationDialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <meta-data
                android:name="showInApp"
                android:value="false" />
        </activity>

        <service
            android:name="com.moengage.pushbase.push.MoEPushWorker"
            android:exported="false" />

        <receiver
            android:name="com.moengage.core.MoEAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.moe.pushlibrary.MoEWorker"
            android:exported="false" />

        <!-- The underlying content provider -->
        <provider
            android:name="com.moe.pushlibrary.providers.MoEProvider"
            android:authorities="in.sportscafe.nostragamus${buildTypeSuffix}.moengage.provider"
            android:exported="false" />

        <!-- MANDATORY FIELD: APP ID AS SEEN ON MOENGAGE DASHBOARD APP SETTINGS PAGE -->
        <meta-data
            android:name="APP_ID"
            android:value="@string/moengage_app_id" />

        <!-- MANDATORY FIELD: SENDER ID , i.e. THE PROJECT NUMBER AS MENTIONED ON GOOGLE CLOUD CONSOLE PROJECTS PAGE -->
        <meta-data
            android:name="SENDER_ID"
            android:value="@string/gcm_sender_id" />

        <!-- MANDATORY FIELD: THE NOTIFICATION SMALL ICON WHICH WILL BE USED TO SET TO NOTIFICATIONS POSTED -->
        <meta-data
            android:name="NOTIFICATION_ICON"
            android:value="@drawable/white_notification_icon" />

        <!-- MANDATORY FIELD: THE NOTIFICATION LARGE ICON WHICH WILL BE USED TO SET TO NOTIFICATIONS POSTED -->
        <meta-data
            android:name="NOTIFICATION_LARGE_ICON"
            android:value="@drawable/notification_large_icon" />

        <!--
                    <meta-data
                    android:name="SKIP_GCM_REGISTRATION"
                    android:value="true" />
        -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.sportscafe.nostragamus${buildTypeSuffix}" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.moengage.worker.MoEGCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>
        <service
            android:name="com.moengage.receiver.MoEInstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- OPTIONAL FIELD: THE NOTIFICATION TYPE WHICH WILL BE USED, SINGLE OR MULTIPLE. DEFAULT BEHAVIOR IS SINGLE -->
        <meta-data
            android:name="NOTIFICATION_TYPE"
            android:value="@integer/notification_type_multiple" />

        <!-- OPTIONAL FIELD: THE NOTIFICATION TONE THAT WILL BE USED. IF NOT SET WILL PLAY THE DEFAULT SOUND -->
        <!--
            <meta-data
            android:name="NOTIFICATION_TONE"
            android:value="@raw/tring" />
        -->
        <!-- End MoEngage -->


        <!-- Start Google Analytics -->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- End Google Analytics -->


        <!-- Start Branch -->


        <!-- Enable/Disable the test mode -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="${branchState}" />

        <!-- Live branch key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_io_live_key" />

        <!-- Test branch key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="@string/branch_io_test_key" />
        <!-- End Branch -->


        <!-- Start Fabric -->
        <!-- Api key which is mandatory to uniquely identify our app -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="66dc8b5ddc3cab78b5935c8254c264658064977d" />
        <!-- End Fabric -->


        <!-- To receive the install updates -->
        <receiver
            android:name=".module.common.CustomInstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Google AdWords Conversion Tracking Code -->
        <receiver
            android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- File (APK) Download complete / result receiver -->
        <service android:name=".service.NostraFileDownloadService" />

        <receiver
            android:name=".receiver.NostraFileDownloadReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Take action from NostraFileDownloadService.FILE_DOWNLOAD_BROADCAST_ACTION -->
                <action android:name="in.sportscafe.nostragamus.broadcast.action.fileDownloadBroadcast" />
            </intent-filter>
        </receiver>

        <!-- Internet connection change receiver -->
        <receiver android:name=".receiver.InternetConnectionStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>